In [ ]:
#vader is an NLTK module that proces sentiment scored based on words 
import nltk 
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer 

sid = SentimentIntensityAnalyzer()

In [ ]:
# can you give me the polarity score for 

a = 'This is a very good movie'

# 5 min ---> 20:37 ---> 

sid.polarity_scores(a)

{'compound': 0.4927, 'neg': 0.0, 'neu': 0.556, 'pos': 0.444}

In [ ]:
# exercise give a sentence in which vader gives high negative score. 
a = 'mood is happy'
sid.polarity_scores(a)

{'compound': 0.5719, 'neg': 0.0, 'neu': 0.351, 'pos': 0.649}

In [ ]:
# amazonreviews..---> positive /negative labelled dataset 

# use the polarity score ---> match 

# if you are able to download the data . > 


# sentiment score for each review and compare with labelled data --> 

# --> vader---> twitter---> amazonreviews---> stored review. 

# In class assignment 

# 20:58---> you are able to do it 


# if your compount score >= 0 it is considered positive 
# if your compoind scores < 0 it is considered negative

In [ ]:
#working break ---> 21:00 ---> 21:20 
import pandas as pd
df = pd.read_csv(r'/content/moviereviews.tsv', sep = '\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [ ]:
df.shape

(2000, 2)

In [ ]:
df['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [ ]:
sid.polarity_scores(df.loc[0]['review'])

{'compound': -0.9125, 'neg': 0.121, 'neu': 0.778, 'pos': 0.101}

In [ ]:
df.isna().sum()

label      0
review    35
dtype: int64

In [ ]:
df.dropna(inplace = True)

blanks = []

In [ ]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

df.head()

  label  ...                                             scores
0   neg  ...  {'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...
1   neg  ...  {'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...
2   pos  ...  {'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...
3   pos  ...  {'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...
4   neg  ...  {'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...

[5 rows x 3 columns]

In [ ]:
df['compound'] = df['scores'].apply(lambda score_dict: score_dict['compound'])

In [ ]:
df.head()

  label  ... compound
0   neg  ...  -0.9125
1   neg  ...  -0.8618
2   pos  ...   0.9953
3   pos  ...   0.9972
4   neg  ...  -0.7264

[5 rows x 4 columns]

In [ ]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c>=0 else 'neg')

In [ ]:
df.head()

  label                                             review  ... compound  comp_score
0   neg  how do films like mouse hunt get into theatres...  ...  -0.9125         neg
1   neg  some talented actresses are blessed with a dem...  ...  -0.8618         neg
2   pos  this has been an extraordinary year for austra...  ...   0.9953         pos
3   pos  according to hollywood movies made in last few...  ...   0.9972         pos
4   neg  my first press screening of 1998 and already i...  ...  -0.7264         neg

[5 rows x 5 columns]

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(df['label'], df['comp_score'])

0.6346055979643765

In [ ]:
confusion_matrix(df['label'], df['comp_score'])

array([[427, 556],
       [162, 820]])

In [ ]:
# take the dataset of amazonreviews.tsv and mvoiereviews.tsv and create your own classification model 
# SVM --> tfidf -->